In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data1=pd.read_csv("Coffee Chain.csv")
data1.head()

,Area Code,Cogs,Difference Between Actual and Target Profit,Date,Inventory,Margin,Market Size,Market,Marketing,记录数,...,Product,Profit,Sales,State,Target COGS,Target Margin,Target Profit,Target Sales,Total Expenses,Type
0,303,51,-35,2012-10-01 00:00:00.000,503,71,"""Major Market""","""Central""",46,1,...,"""Lemon""",-5,122,"""Colorado""",30,60,30,90,76,"""Decaf"""
1,970,52,-24,2012-10-01 00:00:00.000,405,71,"""Major Market""","""Central""",17,1,...,"""Mint""",26,123,"""Colorado""",30,60,50,90,45,"""Decaf"""
2,409,43,-22,2012-10-01 00:00:00.000,419,64,"""Major Market""","""South""",13,1,...,"""Lemon""",28,107,"""Texas""",30,60,50,90,36,"""Decaf"""
3,850,38,-15,2012-10-01 00:00:00.000,871,56,"""Major Market""","""East""",10,1,...,"""Darjeeling""",35,94,"""Florida""",40,60,50,100,21,"""Regular"""
4,562,72,6,2012-10-01 00:00:00.000,650,110,"""Major Market""","""West""",23,1,...,"""Green Tea""",56,182,"""California""",20,60,50,80,54,"""Regular"""

In [4]:
data1.shape

(1062, 22)

In [5]:
col=data1.columns
col

Index(['Area Code', 'Cogs', 'Difference Between Actual and Target Profit',
       'Date', 'Inventory', 'Margin', 'Market Size', 'Market', 'Marketing',
       '记录数', 'Product Line', 'Product Type', 'Product', 'Profit', 'Sales',
       'State', 'Target COGS', 'Target Margin', 'Target Profit',
       'Target Sales', 'Total Expenses', 'Type'],
      dtype='object')

In [6]:
columns_to_drop=['Area Code','记录数','Target COGS','Type','Target Margin', 'Target Profit', 'Target Sales','Difference Between Actual and Target Profit','Marketing', 'Inventory']

data1.drop(columns_to_drop,axis=1, inplace=True)

In [7]:
data1

,Cogs,Date,Margin,Market Size,Market,Product Line,Product Type,Product,Profit,Sales,State,Total Expenses
0,51,2012-10-01 00:00:00.000,71,"""Major Market""","""Central""","""Leaves""","""Herbal Tea""","""Lemon""",-5,122,"""Colorado""",76
1,52,2012-10-01 00:00:00.000,71,"""Major Market""","""Central""","""Leaves""","""Herbal Tea""","""Mint""",26,123,"""Colorado""",45
2,43,2012-10-01 00:00:00.000,64,"""Major Market""","""South""","""Leaves""","""Herbal Tea""","""Lemon""",28,107,"""Texas""",36
3,38,2012-10-01 00:00:00.000,56,"""Major Market""","""East""","""Leaves""","""Tea""","""Darjeeling""",35,94,"""Florida""",21
4,72,2012-10-01 00:00:00.000,110,"""Major Market""","""West""","""Leaves""","""Tea""","""Green Tea""",56,182,"""California""",54
...,...,...,...,...,...,...,...,...,...,...,...,...
1057,250,2013-12-01 00:00:00.000,251,"""Small Market""","""West""","""Leaves""","""Tea""","""Earl Grey""",233,534,"""Nevada""",94
1058,88,2013-12-01 00:00:00.000,133,"""Small Market""","""West""","""Leaves""","""Tea""","""Earl Grey""",108,236,"""Oregon""",60
1059,294,2013-12-01 00:00:00.000,-294,"""Small Market""","""West""","""Leaves""","""Tea""","""Green Tea""",-605,33,"""Nevada""",145
1060,134,2013-12-01 00:00:00.000,186,"""Small Market""","""West""","""Leaves""","""Tea""","""Green Tea""",180,341,"""Oregon""",65
1061,20,2013-12-01 00:00:00.000,25,"""Small Market""","""West""","""Leaves""","""Tea""","""Green Tea""",-22,48,"""Utah""",40

In [8]:
data1.isnull().sum()

Cogs              0
Date              0
Margin            0
Market Size       0
Market            0
Product Line      0
Product Type      0
Product           0
Profit            0
Sales             0
State             0
Total Expenses    0
dtype: int64

In [9]:
dublicates=data1.duplicated()
dublicates.sum()

np.int64(0)

In [10]:
data1.to_csv("Coffee_chain_cleaned", index=False)

**data2 xlsv file**

In [11]:
data3=pd.read_csv("Coffee.csv")
data3.head()

,Area Code,Date,Market,Market Size,Product,Product Line,Product Type,State,Type,Budget COGS,Budget Margin,Budget Profit,Budget Sales,COGS,Inventory,Margin,Marketing,Profit,Sales,Total Expenses
0,719,40909,Central,Major Market,Amaretto,Beans,Coffee,Colorado,Regular,90,130,100,220,89,777,130,24,94,219,36
1,970,40909,Central,Major Market,Colombian,Beans,Coffee,Colorado,Regular,80,110,80,190,83,623,107,27,68,190,39
2,970,40909,Central,Major Market,Decaf Irish Cream,Beans,Coffee,Colorado,Decaf,100,140,110,240,95,821,139,26,101,234,38
3,303,40909,Central,Major Market,Green Tea,Leaves,Tea,Colorado,Regular,30,50,30,80,44,623,56,14,30,100,26
4,303,40909,Central,Major Market,Caffe Mocha,Beans,Espresso,Colorado,Regular,60,90,70,150,54,456,80,15,54,134,26

In [12]:
data3.isnull().sum()

Area Code         0
Date              0
Market            0
Market Size       0
Product           0
Product Line      0
Product Type      0
State             0
Type              0
Budget COGS       0
Budget Margin     0
Budget Profit     0
Budget Sales      0
COGS              0
Inventory         0
Margin            0
Marketing         0
Profit            0
Sales             0
Total Expenses    0
dtype: int64

In [13]:
data3.columns

Index(['Area Code', 'Date', 'Market', 'Market Size', 'Product', 'Product Line',
       'Product Type', 'State', 'Type', 'Budget COGS', 'Budget Margin',
       'Budget Profit', 'Budget Sales', 'COGS', 'Inventory', 'Margin',
       'Marketing', 'Profit', 'Sales', 'Total Expenses'],
      dtype='object')

In [14]:
columns_to_drop2=["Area Code",'Type','Budget COGS', 'Budget Margin','Budget Profit', 'Budget Sales','Inventory','Marketing']
data3.drop(columns_to_drop2, axis=1, inplace=True)
data3.head()

,Date,Market,Market Size,Product,Product Line,Product Type,State,COGS,Margin,Profit,Sales,Total Expenses
0,40909,Central,Major Market,Amaretto,Beans,Coffee,Colorado,89,130,94,219,36
1,40909,Central,Major Market,Colombian,Beans,Coffee,Colorado,83,107,68,190,39
2,40909,Central,Major Market,Decaf Irish Cream,Beans,Coffee,Colorado,95,139,101,234,38
3,40909,Central,Major Market,Green Tea,Leaves,Tea,Colorado,44,56,30,100,26
4,40909,Central,Major Market,Caffe Mocha,Beans,Espresso,Colorado,54,80,54,134,26

In [15]:
data3.shape

(4248, 12)

In [16]:
data1.shape

(1062, 12)

In [17]:
data3.columns

Index(['Date', 'Market', 'Market Size', 'Product', 'Product Line',
       'Product Type', 'State', 'COGS', 'Margin', 'Profit', 'Sales',
       'Total Expenses'],
      dtype='object')

In [18]:
data1.columns

Index(['Cogs', 'Date', 'Margin', 'Market Size', 'Market', 'Product Line',
       'Product Type', 'Product', 'Profit', 'Sales', 'State',
       'Total Expenses'],
      dtype='object')

In [19]:
missing_columns = set(data3.columns) - set(data1.columns)
print("Missing columns in test_data:", missing_columns)

Missing columns in test_data: {'COGS'}

In [20]:
data1.rename(columns={
    'Cogs': 'COGS'
}, inplace=True)

In [21]:
data1.columns[0]

'COGS'

In [22]:
combined_data=pd.concat([data1,data3], sort=False)

In [23]:
combined_data.shape

(5310, 12)

In [24]:
duplicate_rows = combined_data[combined_data.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [COGS, Date, Margin, Market Size, Market, Product Line, Product Type, Product, Profit, Sales, State, Total Expenses]
Index: []

In [25]:
duplicates = combined_data.duplicated()
print("Number of duplicate rows:", duplicates.sum())

Number of duplicate rows: 0

In [29]:
combined_data.head()

,COGS,Date,Margin,Market Size,Market,Product Line,Product Type,Product,Profit,Sales,State,Total Expenses
0,51,2012-10-01 00:00:00.000,71,"""Major Market""","""Central""","""Leaves""","""Herbal Tea""","""Lemon""",-5,122,"""Colorado""",76
1,52,2012-10-01 00:00:00.000,71,"""Major Market""","""Central""","""Leaves""","""Herbal Tea""","""Mint""",26,123,"""Colorado""",45
2,43,2012-10-01 00:00:00.000,64,"""Major Market""","""South""","""Leaves""","""Herbal Tea""","""Lemon""",28,107,"""Texas""",36
3,38,2012-10-01 00:00:00.000,56,"""Major Market""","""East""","""Leaves""","""Tea""","""Darjeeling""",35,94,"""Florida""",21
4,72,2012-10-01 00:00:00.000,110,"""Major Market""","""West""","""Leaves""","""Tea""","""Green Tea""",56,182,"""California""",54

In [33]:
market=combined_data["Market"].unique()
market

array(['"Central"', '"South"', '"East"', '"West"', 'Central', 'East',
       'South', 'West'], dtype=object)

In [35]:
replace_dict={
    '"Central"': 'Central',
    '"South"' :'South',
    '"East"' : 'East',
    '"West"' : 'West'
}

combined_data['Market']=combined_data['Market'].replace(replace_dict)

In [36]:
print(combined_data["Market"].unique())

['Central' 'South' 'East' 'West']

In [37]:
combined_data.to_csv("Coffee_Chain_final.csv", index=False)

In [42]:
for col in combined_data:
    uni=combined_data[col].unique()
    print(f"In {col} values are {uni}")

In COGS values are [ 51  52  43  38  72   0  47  27  31  40  49  45  60  34  54  48  82  91
  50  75  46  55  57  36  33  44  53  61  65  80  41  39  92  68  63  76
  22  23  79  28  32  69  86  24  35  29  30  56  59  67  21  25  15  16
  20 239 123  90 103  96 225 118  78  88 102 101  94 241  81 134 105 125
 130 115 260 161 255 108  77 249 121 181 211 245  83 279 135 153 250 294
 122 154 257  10 113 173 228 127 224 247  89  95 170  58  64 144 234  18
  17  85  37  84 124 271 207  99  62 148 104  19 240  42  70 258 213  87
 162 109 243  74  71 270 214 100 191 252  93 112 116 284 209 149 195 263
 265  98 114 110 302 235 272 200 141 111 356 244 145 291 266 238 120  97
 364 132 295 196  14 133 311 155 253 251 316]
In Date values are ['2012-10-01 00:00:00.000' '2012-11-01 00:00:00.000'
 '2012-12-01 00:00:00.000' '2013-10-01 00:00:00.000'
 '2013-11-01 00:00:00.000' '2013-12-01 00:00:00.000' 40909 40940 40969
 41000 41030 41061 41091 41122 41153 41183 41214 41244 41275 41306 41334
 41365 41395 41426 41456 41487 41518 41548 41579 41609]
In Margin values are [  71   64   56  110   43   39   37   59   69   84   66   70  123  127
   52   73   68   89   48   47   67   62   88   54   86   79   65   80
   96   60   46   51   49   74   76   85   94  111   29   35   98   77
   99   42   40   34   41   81   57   63   38   23   53   36   30   44
   45   32   78  102  101   75   31   24   25  114  281  179  115  133
  134  265  172  119  112  143  130  284  104  186  120  145  188  195
  174  116  402  390  -56  161  526  258  -75  157  103  379  374  -60
  182  464  331  -65  117  443  420  -69  153  407  453  -93  124  176
  239  213  341   13  312  165  212  304  300  185  251  310  329   14
  360  -24  -13  173 -255  -27    3  168   93 -245  -32  -25  187 -294
  107  139  108  171   87   72  201  228   27   26  301  105   92   11
   83  126  113  422   55  262  -44  238  245   50  -26  144  137  170
  206  150  311  229   28  294   90   61   18  128  109  395  352  387
  255  -33  252  169 -240  163  158  324  125  132  -62  405  268  253
   16  100  335  178  318   33   91  155   82   58  451  -59  325  428
  378  -20  247 -260  152  149  270  349  261  141  159  129  487  -52
  283  454  386  -37  277  -21 -265  136  362  278  204  332  167  164
  154  121  140  595  -72  415  534  398  -46  288  -45  -31 -271  146
  266  222  135  613  523  280  -85  548  307  -67  -36  225 -270  191
  392  271  348   19  184  612  369 -187  -95  546  367  -30 -284  118
  336  249  370   20  516 -139  -53  474  295 -302]
In Market Size values are ['"Major Market"' '"Small Market"' 'Major Market' 'Small Market']
In Market values are ['Central' 'South' 'East' 'West']
In Product Line values are ['"Leaves"' '"Beans"' 'Beans' 'Leaves']
In Product Type values are ['"Herbal Tea"' '"Tea"' '"Espresso"' '"Coffee"' 'Coffee' 'Tea' 'Espresso'
 'Herbal Tea']
In Product values are ['"Lemon"' '"Mint"' '"Darjeeling"' '"Green Tea"' '"Decaf Espresso"'
 '"Decaf Irish Cream"' '"Amaretto"' '"Colombian"' '"Caffe Mocha"'
 '"Caffe Latte"' '"Chamomile"' '"Earl Grey"' '"Regular Espresso"'
 'Amaretto' 'Colombian' 'Decaf Irish Cream' 'Green Tea' 'Caffe Mocha'
 'Decaf Espresso' 'Chamomile' 'Lemon' 'Mint' 'Darjeeling' 'Earl Grey'
 'Regular Espresso' 'Caffe Latte']
In Profit values are [  -5   26   28   35   56   31   21    7   37   33   24   -7    1   -2
   12   -6   45   47   36   64   76   48   27   -8   44   15   29   30
   34   14   20   49   13   52   23   50   53   -3   16   17   39   42
   83   46   10   55  -10   18   -9   67   70   95  113   71   40  -12
   65   22   43   73   19   77   74   79   -4   25    0   57   38  -20
    6   32    8  117   85  -30    9  -26   11    5    2  -39  -13    3
  -11   58  -16   82   68   86  -18  -24   78   59   51  116   96   88
  185  133   87  174  127   62   89  188   72   66  -15  121  275  197
  110  129  258   92  105  132  126  279  107   98  -22  180  114  115
  122  171  181  156   60  348  247 -202  435 -170  134   63  324  236
  108  381  204 -156   84  390  271 -224  312  309 -189  516  367 -300
  137  646  191 -252  199   93  481  350  160  565  303 -232  125  579
  402 -332  463  459 -280  149  120  224   61  183  106  128  139  196
  173  157  194  216   -1  123  172  221  178  332   91  169  272  190
  206  291  159  104  257  131  233  288  321  232 -117  225  -74  186
  -27 -363 -127  -56  235  138 -340 -149  -88  215 -408 -174  334 -110
  276  135  -40 -539 -188  292  -83  349  205 -505 -221 -131  319 -605
   94  101   54   99  111  203  140  202  141  175  100  -23 -172  262
 -113    4  102 -354   80  201  142  -32   41  340  264 -203  245 -120
  -31  164 -342   90   69  119  211  148  212  366 -208  259 -119  -33
  166 -121  165  -41  220   97  397 -205 -105  161  -76 -141  162  219
 -365  112  230  231  434 -195  187  295  252  -84 -142 -380  241  167
  136  547 -236  318  357  263 -143  -34  192  240 -369   81  168  150
  208   75  564  388 -164  182 -266  370  103 -138 -157 -378  144  143
  163  151  207  563  229 -304  179 -284  368  -42  250 -139  249 -137
 -404  155  223  -44  465 -238 -197  -45  313 -430  154  146  316  218
  315  273  -17  -61  -14  109  -36  572 -176 -268  408  248  -62 -182
 -552  147  298  209  251  -47  145  505 -178 -301  392  364  -46  243
  300 -508  177  260  543 -177 -309  384  -49  246 -180  326  589  410
  239 -209  325 -542  153  317  228  222  -21  599 -181  407 -269  253
 -116 -196  226 -524  184  333  755  363  493 -326  439  265  331 -509
  287  356  778  536 -226 -367  511  284  283 -190 -217 -522  362  286
  -57  777 -420 -392  508  -58  345  344 -192 -558  -65  690 -353 -292
  -19  -67  328 -638]
In Sales values are [122 123 107  94 182  43 111  66  68  99 120 114 109 144  77 118 119 205
 218  92 164 124 125  88  81  78 121 113 106 141 115  90 147 133 112 127
 145 176 101  85  82 131 160 153 139 130 100 194  46  70  72 128 116 126
 232  98 175 132  86  83 129 150  96 157 142 135 155 188 108  91  87 140
 171 163 148 174 187  51  58 177 159  80  56  74 103  69 185 199  54  62
 189 151 169  75  60  79 110  52  64  76  73  89  84  55  95 138 184 168
 134 196 179 104  53  61  63  39  41  45  65  67  42  44  48 201 520 302
 236 230 490 290 197 200 245 231 224 525 221 320 214 250 554 322 251 522
 309 210 213 261 246 239 559 341 228 266 313 325 289 334 346 308 202 474
 650 765 513 265 180 454 623 363 675 576 198 195 510 699 306 657 747 215
 505 693 343 815 547 282 192 484 664 387 719 614 211 208 543 745 326 700
 796 158 298 478 367 598  23 567 278 423 412 532 545 312 501 534  24 654
 318 509 391 637  25 604 296 451 439 581 332 569  26 697 167  21 146 156
  32 102  31 178  22 136 166  34  33 219 190 234 345 546 456 170 310 494
  93 678 483 452  17 243 340 354 254 457  47 193 165 206 220 137 154 470
 580 645 495 465 267 227 492 523 467 149 223 587 301 578  49 222 292 117
 519 564 712 638 256 612 521 589  97 173 235 273  71 204  57 275 551 756
 651 512  18 276 634 603 264 212 105 649 890 669  37 291 376 602 286 336
 297 225 665 793 912  27 323 687 632 277 226 317 653 910 498 672  35  50
 249 258 541 790  19 382 262 611 386 347 553 540 548 759 506 162 280 362
 259 247 487 377 271 528 618 496 143 285 582 242 329 524 557 181 238 626
 486 321 616 237 161 311 680 601  28 295 607 516 461 584 233 749 538 507
 274 628 342  59 279 643 663 882 527 191 288 562 373 597 283 333 294 659
 786 904 384 209 463 681 314 229 658 647 902 408 330 531 716 577 842  20]
In State values are ['"Colorado"' '"Texas"' '"Florida"' '"California"' '"Iowa"'
 '"Connecticut"' '"Oklahoma"' '"Nevada"' '"Utah"' '"New Hampshire"'
 '"Louisiana"' '"Oregon"' '"Missouri"' '"Wisconsin"' '"Washington"'
 '"Massachusetts"' '"Illinois"' '"New Mexico"' '"Ohio"' '"New York"'
 'Colorado' 'Illinois' 'Iowa' 'Missouri' 'Ohio' 'Wisconsin' 'Connecticut'
 'Florida' 'Massachusetts' 'New Hampshire' 'New York' 'Louisiana'
 'New Mexico' 'Oklahoma' 'Texas' 'Utah' 'California' 'Nevada' 'Oregon'
 'Washington']
In Total Expenses values are [ 76  45  36  21  54  12  43  18  30  22  38  71  83  70  25  24  23  59
  51  26  37  39  19  53  46  85  27  44  57  20  79  74  48  52  58  40
  32  17  64  42  84  69  72  11  35  73  49  31  50  47  55  41  77  78
  56  16  15  33  96 117  91 115  61  65 125 143 116 146 129  95 138 142
 127  60 149 124 155  66 144  90  93  63  62 100 108  75 114  94 113 147
 107 139 101 156 145  87 109  88  29 110 126 102  98  28  86 128  97  34
 112  68 132 152 131 119 134 118  67 159 133 121 111 135 130 164 177 165
 122  99 141 181 178  82 180 140 189 150 190 162 161  92 103 106  89 104
  81  10 148 105 120 153 168 166 167  80 176  14]

In [46]:
replace_dict2={
    '"Major Market"': 'Major Market',
    '"Small Market"' :"Small Market",
}

combined_data['Market Size']=combined_data['Market Size'].replace(replace_dict2)

replace_dict3={
    '"Leaves"': "Leaves",
    '"Beans"' :"Beans",
}

combined_data['Product Line']=combined_data['Product Line'].replace(replace_dict3)

replace_dict4={
    '"Herbal Tea"': "Herbal Tea",
    '"Tea"' :"Tea",
    '"Espresso"':'Espresso',
    '"Coffee"' :'Coffee',  
}

combined_data['Product Type']=combined_data['Product Type'].replace(replace_dict4)

replace_dict5={
    '"Lemon"' : 'Lemon',
    '"Mint"' : "Mint",
    '"Darjeeling"': 'Darjeeling',
    '"Green Tea"' :'Green Tea',
    '"Decaf Espresso"':'Decaf Espresso',
    '"Decaf Irish Cream"':'Decaf Irish Cream',
    '"Amaretto"':'Amaretto',
    '"Colombian"':'Colombian',
    '"Caffe Mocha"': 'Caffe Mocha',
    '"Caffe Latte"':'Caffe Latte',
    '"Chamomile"':'Chamomile',
    '"Earl Grey"' : 'Earl Grey',
    '"Regular Espresso"':'Regular Espresso',
}

combined_data['Product']=combined_data['Product'].replace(replace_dict5)

replace_dict6={
    '"Colorado"':'Colorado',
    '"Texas"':'Texas',
    '"Florida"':'Florida',
    '"California"':'California',
    '"Iowa"':'Iowa',
    '"Connecticut"':'Connecticut',
    '"Oklahoma"':'Oklahoma',
    '"Nevada"' :'Nevada',
    '"Utah"':'Utah',
    '"New Hampshire"':'New Hampshire',
    '"Louisiana"':'Louisiana',
    '"Oregon"':'Oregon' ,
    '"Missouri"' :'Missouri',
    '"Wisconsin"' :'Wisconsin',
    '"Washington"':'Washington',
    '"Massachusetts"' : 'Massachusetts',
    '"Illinois"' :'Illinois',
    '"New Mexico"':'New Mexico',
    '"Ohio"':'Ohio',
    '"New York"':'New York'
}

combined_data['State']=combined_data['State'].replace(replace_dict6)

In [47]:
combined_data.to_csv("Coffee_Chain_final.csv", index=False)

In [48]:
for col in combined_data:
    uni=combined_data[col].unique()
    print(f"In {col} values are {uni}")

In COGS values are [ 51  52  43  38  72   0  47  27  31  40  49  45  60  34  54  48  82  91
  50  75  46  55  57  36  33  44  53  61  65  80  41  39  92  68  63  76
  22  23  79  28  32  69  86  24  35  29  30  56  59  67  21  25  15  16
  20 239 123  90 103  96 225 118  78  88 102 101  94 241  81 134 105 125
 130 115 260 161 255 108  77 249 121 181 211 245  83 279 135 153 250 294
 122 154 257  10 113 173 228 127 224 247  89  95 170  58  64 144 234  18
  17  85  37  84 124 271 207  99  62 148 104  19 240  42  70 258 213  87
 162 109 243  74  71 270 214 100 191 252  93 112 116 284 209 149 195 263
 265  98 114 110 302 235 272 200 141 111 356 244 145 291 266 238 120  97
 364 132 295 196  14 133 311 155 253 251 316]
In Date values are ['2012-10-01 00:00:00.000' '2012-11-01 00:00:00.000'
 '2012-12-01 00:00:00.000' '2013-10-01 00:00:00.000'
 '2013-11-01 00:00:00.000' '2013-12-01 00:00:00.000' 40909 40940 40969
 41000 41030 41061 41091 41122 41153 41183 41214 41244 41275 41306 41334
 41365 41395 41426 41456 41487 41518 41548 41579 41609]
In Margin values are [  71   64   56  110   43   39   37   59   69   84   66   70  123  127
   52   73   68   89   48   47   67   62   88   54   86   79   65   80
   96   60   46   51   49   74   76   85   94  111   29   35   98   77
   99   42   40   34   41   81   57   63   38   23   53   36   30   44
   45   32   78  102  101   75   31   24   25  114  281  179  115  133
  134  265  172  119  112  143  130  284  104  186  120  145  188  195
  174  116  402  390  -56  161  526  258  -75  157  103  379  374  -60
  182  464  331  -65  117  443  420  -69  153  407  453  -93  124  176
  239  213  341   13  312  165  212  304  300  185  251  310  329   14
  360  -24  -13  173 -255  -27    3  168   93 -245  -32  -25  187 -294
  107  139  108  171   87   72  201  228   27   26  301  105   92   11
   83  126  113  422   55  262  -44  238  245   50  -26  144  137  170
  206  150  311  229   28  294   90   61   18  128  109  395  352  387
  255  -33  252  169 -240  163  158  324  125  132  -62  405  268  253
   16  100  335  178  318   33   91  155   82   58  451  -59  325  428
  378  -20  247 -260  152  149  270  349  261  141  159  129  487  -52
  283  454  386  -37  277  -21 -265  136  362  278  204  332  167  164
  154  121  140  595  -72  415  534  398  -46  288  -45  -31 -271  146
  266  222  135  613  523  280  -85  548  307  -67  -36  225 -270  191
  392  271  348   19  184  612  369 -187  -95  546  367  -30 -284  118
  336  249  370   20  516 -139  -53  474  295 -302]
In Market Size values are ['Major Market' 'Small Market']
In Market values are ['Central' 'South' 'East' 'West']
In Product Line values are ['Leaves' 'Beans']
In Product Type values are ['Herbal Tea' 'Tea' 'Espresso' 'Coffee']
In Product values are ['Lemon' 'Mint' 'Darjeeling' 'Green Tea' 'Decaf Espresso'
 'Decaf Irish Cream' 'Amaretto' 'Colombian' 'Caffe Mocha' 'Caffe Latte'
 'Chamomile' 'Earl Grey' 'Regular Espresso']
In Profit values are [  -5   26   28   35   56   31   21    7   37   33   24   -7    1   -2
   12   -6   45   47   36   64   76   48   27   -8   44   15   29   30
   34   14   20   49   13   52   23   50   53   -3   16   17   39   42
   83   46   10   55  -10   18   -9   67   70   95  113   71   40  -12
   65   22   43   73   19   77   74   79   -4   25    0   57   38  -20
    6   32    8  117   85  -30    9  -26   11    5    2  -39  -13    3
  -11   58  -16   82   68   86  -18  -24   78   59   51  116   96   88
  185  133   87  174  127   62   89  188   72   66  -15  121  275  197
  110  129  258   92  105  132  126  279  107   98  -22  180  114  115
  122  171  181  156   60  348  247 -202  435 -170  134   63  324  236
  108  381  204 -156   84  390  271 -224  312  309 -189  516  367 -300
  137  646  191 -252  199   93  481  350  160  565  303 -232  125  579
  402 -332  463  459 -280  149  120  224   61  183  106  128  139  196
  173  157  194  216   -1  123  172  221  178  332   91  169  272  190
  206  291  159  104  257  131  233  288  321  232 -117  225  -74  186
  -27 -363 -127  -56  235  138 -340 -149  -88  215 -408 -174  334 -110
  276  135  -40 -539 -188  292  -83  349  205 -505 -221 -131  319 -605
   94  101   54   99  111  203  140  202  141  175  100  -23 -172  262
 -113    4  102 -354   80  201  142  -32   41  340  264 -203  245 -120
  -31  164 -342   90   69  119  211  148  212  366 -208  259 -119  -33
  166 -121  165  -41  220   97  397 -205 -105  161  -76 -141  162  219
 -365  112  230  231  434 -195  187  295  252  -84 -142 -380  241  167
  136  547 -236  318  357  263 -143  -34  192  240 -369   81  168  150
  208   75  564  388 -164  182 -266  370  103 -138 -157 -378  144  143
  163  151  207  563  229 -304  179 -284  368  -42  250 -139  249 -137
 -404  155  223  -44  465 -238 -197  -45  313 -430  154  146  316  218
  315  273  -17  -61  -14  109  -36  572 -176 -268  408  248  -62 -182
 -552  147  298  209  251  -47  145  505 -178 -301  392  364  -46  243
  300 -508  177  260  543 -177 -309  384  -49  246 -180  326  589  410
  239 -209  325 -542  153  317  228  222  -21  599 -181  407 -269  253
 -116 -196  226 -524  184  333  755  363  493 -326  439  265  331 -509
  287  356  778  536 -226 -367  511  284  283 -190 -217 -522  362  286
  -57  777 -420 -392  508  -58  345  344 -192 -558  -65  690 -353 -292
  -19  -67  328 -638]
In Sales values are [122 123 107  94 182  43 111  66  68  99 120 114 109 144  77 118 119 205
 218  92 164 124 125  88  81  78 121 113 106 141 115  90 147 133 112 127
 145 176 101  85  82 131 160 153 139 130 100 194  46  70  72 128 116 126
 232  98 175 132  86  83 129 150  96 157 142 135 155 188 108  91  87 140
 171 163 148 174 187  51  58 177 159  80  56  74 103  69 185 199  54  62
 189 151 169  75  60  79 110  52  64  76  73  89  84  55  95 138 184 168
 134 196 179 104  53  61  63  39  41  45  65  67  42  44  48 201 520 302
 236 230 490 290 197 200 245 231 224 525 221 320 214 250 554 322 251 522
 309 210 213 261 246 239 559 341 228 266 313 325 289 334 346 308 202 474
 650 765 513 265 180 454 623 363 675 576 198 195 510 699 306 657 747 215
 505 693 343 815 547 282 192 484 664 387 719 614 211 208 543 745 326 700
 796 158 298 478 367 598  23 567 278 423 412 532 545 312 501 534  24 654
 318 509 391 637  25 604 296 451 439 581 332 569  26 697 167  21 146 156
  32 102  31 178  22 136 166  34  33 219 190 234 345 546 456 170 310 494
  93 678 483 452  17 243 340 354 254 457  47 193 165 206 220 137 154 470
 580 645 495 465 267 227 492 523 467 149 223 587 301 578  49 222 292 117
 519 564 712 638 256 612 521 589  97 173 235 273  71 204  57 275 551 756
 651 512  18 276 634 603 264 212 105 649 890 669  37 291 376 602 286 336
 297 225 665 793 912  27 323 687 632 277 226 317 653 910 498 672  35  50
 249 258 541 790  19 382 262 611 386 347 553 540 548 759 506 162 280 362
 259 247 487 377 271 528 618 496 143 285 582 242 329 524 557 181 238 626
 486 321 616 237 161 311 680 601  28 295 607 516 461 584 233 749 538 507
 274 628 342  59 279 643 663 882 527 191 288 562 373 597 283 333 294 659
 786 904 384 209 463 681 314 229 658 647 902 408 330 531 716 577 842  20]
In State values are ['Colorado' 'Texas' 'Florida' 'California' 'Iowa' 'Connecticut' 'Oklahoma'
 'Nevada' 'Utah' 'New Hampshire' 'Louisiana' 'Oregon' 'Missouri'
 'Wisconsin' 'Washington' 'Massachusetts' 'Illinois' 'New Mexico' 'Ohio'
 'New York']
In Total Expenses values are [ 76  45  36  21  54  12  43  18  30  22  38  71  83  70  25  24  23  59
  51  26  37  39  19  53  46  85  27  44  57  20  79  74  48  52  58  40
  32  17  64  42  84  69  72  11  35  73  49  31  50  47  55  41  77  78
  56  16  15  33  96 117  91 115  61  65 125 143 116 146 129  95 138 142
 127  60 149 124 155  66 144  90  93  63  62 100 108  75 114  94 113 147
 107 139 101 156 145  87 109  88  29 110 126 102  98  28  86 128  97  34
 112  68 132 152 131 119 134 118  67 159 133 121 111 135 130 164 177 165
 122  99 141 181 178  82 180 140 189 150 190 162 161  92 103 106  89 104
  81  10 148 105 120 153 168 166 167  80 176  14]